<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Zawodnik</title>
  <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/style-post.css">
</head>
<body>
  <div th:replace="~{fragments/header::header}" class="w3-bar w3-green flex-center"></div>
  <div class="main-content">
    <div class="post-article">
      <div class="img-div">
        <img class="image" th:src="@{${post.img}}">
      </div>
      <div class="title" th:text="${post.title}"></div><div class="date" th:text="${#temporals.format(post.date, 'dd-MM-yyyy HH:mm')}"></div>
      <div th:text="${post.description}"></div>
    </div>
  </div>
</body>
</html>